---
- name: Deploy Music Classifier with Docker
  hosts: all
  become: yes

  vars:
    # Путь к корню проекта относительно playbook.yml
    # В Jenkins это обычно на один уровень выше папки ansible/
    local_project_root: "{{ playbook_dir }}/../"
    remote_app_dir: /opt/app

  tasks:
    - name: Install required packages
      apt:
        name: [curl, git, python3-pip, rsync]
        state: present
        update_cache: yes

    - name: Install Docker
      shell: curl -fsSL https://get.docker.com | sh
      args:
        creates: /usr/bin/docker

    - name: Start Docker
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Install Docker Compose
      get_url:
        url: "https://github.com/docker/compose/releases/download/v2.24.0/docker-compose-Linux-x86_64"
        dest: /usr/local/bin/docker-compose
        mode: '0755'

    - name: Create app directory
      file:
        path: "{{ remote_app_dir }}"
        state: directory
        mode: '0755'

    - name: Copy application files
      synchronize:
        # Используем явный путь от директории плейбука
        src: "{{ local_project_root }}"
        dest: "{{ remote_app_dir }}/"
        delete: yes
        rsync_opts:
          - "--exclude=.git"
          - "--exclude=ansible"
          - "--exclude=terraform"

    - name: Create .env file
      copy:
        dest: "{{ remote_app_dir }}/.env"
        content: "TELEGRAM_BOT_TOKEN={{ telegram_token }}\n"
        mode: '0600'

    - name: Make scripts executable
      file:
        path: "{{ remote_app_dir }}/{{ item }}"
        mode: '0755'
      loop:
        - app.sh
        - healthcheck.sh

    - name: Run deployment script
      shell: bash ./app.sh
      args:
        chdir: "{{ remote_app_dir }}"
      register: deploy_out

    - name: Show deploy output
      debug:
        var: deploy_out.stdout_lines
