- name: Copy docker-compose.yml
  copy:
    src: "{{ local_project_root }}/docker-compose.yml"
    dest: "{{ remote_app_dir }}/docker-compose.yml"
    mode: "0644"

- name: Create .env file with Telegram token
  copy:
    dest: "{{ remote_app_dir }}/.env"
    content: "TELEGRAM_BOT_TOKEN={{ telegram_token }}\n"
    mode: '0600'

- name: Pull latest images from Docker Hub
  shell: docker-compose pull
  args:
    chdir: "{{ remote_app_dir }}"

- name: Start containers
  shell: docker-compose up -d
  args:
    chdir: "{{ remote_app_dir }}"
